<div class="row m-0 p-0 p-4" style="">
  <div
    class="col-12 m-0 p-0 p-2"
    style="
      border-radius: 20px 0 20px 0 !important;
      background: linear-gradient(
        95.79deg,
        #e82d56 3.07%,
        #0eacc1 100%
      ) !important;
    "
  >
    <div
      class="row m-0 p-0 p-3"
      style="background-color: white; border-radius: 20px 0 20px 0 !important"
    >
      <div class="col-12 m-0 p-0">
        <div class="row m-0 p-0">
      
          <div
          class="col-4 m-0 p-0 center-div-item-menu"
          style="cursor: pointer"
          (click)="selectOption(1)"
        >
          <div class="row m-0 p-0">
            <div
              *ngIf="selectedOption !== 1"
              class="col-12 col-md-6 col-lg-6 m-0 p-0 imagen-menu-flex"
            >
              <img
              
                src="../../assets/images/filter-panel/{{textpacage}}.svg"
                class="pr-3"
              />
            </div>

            <div
              *ngIf="selectedOption === 1"
              class="col-12 col-md-6 col-lg-6 m-0 p-0 imagen-menu-flex"
            >
              <div  class="row m-0 p-0">
                <div class="col-12 m-0 p-0 border-icon">
                  <div
                    class="row m-0 p-0"
                    style="
                      background-color: white !important;
                      padding: 5px !important;
                      margin: 3px !important;
                    "
                  >
                    <img
                    
                      src="../../assets/images/filter-panel/package-selected.svg"
                      class="pr-3"
                      style="padding-left: 0px; padding-right: 0px"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div
            class="
              col-12 col-md-6 col-lg-6
              option-title
              texto-menu-flex
            "
            [ngClass]="{ 'option-title-selected': selectedOption === 1 }"
          >
            Paquetes
          </div>


            <div  *ngIf="selectedOption === 1" class="col-12 m-0 p-0 paque">
              <div
                class="row m-0 p-0 pt-2"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
                
              >
                <div
                  class="col-12 m-0 p-0"
                  style="
                    height: 4px;
                    width: 80%;
                    background: linear-gradient(
                      90.2deg,
                      #e82d56 36.08%,
                      #18acb3 86.43%
                    );
                  "
                ></div>
              </div>
            </div>
          </div>
        </div>

          <div
          class="col-4 m-0 p-0 center-div-item-menu"
          style="cursor: pointer !important"
          (click)="selectOption(3)"
        >
       

          <div class="row m-0 p-0">
            <div
              *ngIf="selectedOption !== 3"
              class="col-12 col-md-6 col-lg-6 m-0 p-0 imagen-menu-flex"
            >
              <img
                src="../../assets/images/filter-panel/flight.svg"
                class="option-icon"
               
              />
            </div>

            <div
              *ngIf="selectedOption === 3"
              class="col-12 col-md-6 col-lg-6 m-0 p-0 imagen-menu-flex"
            >
              <div   class="row m-0 p-0">
                <div class="col-12 m-0 p-0 border-icon">
                  <div
                    class="row m-0 p-0"
                    style="
                      background-color: white !important;
                      padding: 5px !important;
                      margin: 3px !important;
                    "
                  >
                    <img
                   
                      src="../../assets/images/filter-panel/flight-selected.svg"
                      class="option-icon"
                      style="padding-left: 0px; padding-right: 0px"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div
              class="
                col-12 col-md-6 col-lg-6
                option-title
                texto-menu-flex
              "
              [ngClass]="{ 'option-title-selected': selectedOption === 3 }"
            >
              Vuelos
            </div>

            <div *ngIf="selectedOption === 3"  id="vuelos" class="col-12 m-0 p-0 vue">
              <div
                class="row m-0 p-0 pt-2"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <div
                  class="col-12 m-0 p-0"
                  style="
                    height: 4px;
                    width: 80%;
                    background: linear-gradient(
                      90.2deg,
                      #e82d56 36.08%,
                      #18acb3 86.43%
                    );
                  "
                ></div>
              </div>
            </div>
          </div>
        </div>

    
       
          <div
          class="col-4 m-0 p-0 center-div-item-menu"
          (click)="selectOption(4)"
          style="cursor: pointer"
        >
          <div class="row m-0 p-0">
            <div
              *ngIf="selectedOption !== 4"
              class="col-12 col-md-6 col-lg-6 m-0 p-0 imagen-menu-flex"
            >
              <img
              
                src="../../assets/images/filter-panel/hotel.svg"
                class="option-icon"
              />
            </div>

            <div
              *ngIf="selectedOption === 4"
              class="col-12 col-md-6 col-lg-6 m-0 p-0 imagen-menu-flex"
            >
              <div  class="row m-0 p-0">
                <div class="col-12 m-0 p-0 border-icon">
                  <div
                    class="row m-0 p-0"
                    style="
                      background-color: white !important;
                      padding: 5px !important;
                      margin: 3px !important;
                    "
                  >
                    <img
                    
                      src="../../assets/images/filter-panel/hotel-selected.svg"
                      class="option-icon"
                      style="padding-left: 0px; padding-right: 0px"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div
              class="
                col-12 col-md-6 col-lg-6
                option-title
                texto-menu-flex
              "
              [ngClass]="{ 'option-title-selected': selectedOption === 4 }"
            >
              Hoteles
            </div>

            <div *ngIf="selectedOption === 4"  id="hoteles" class="col-12 m-0 p-0 hotel">
              <div
                class="row m-0 p-0 pt-2"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
              
                <div
                  class="col-12 m-0 p-0"
                  style="
                    height: 4px;
                    width: 80%;
                    background: linear-gradient(
                      90.2deg,
                      #e82d56 36.08%,
                      #18acb3 86.43%
                    );
                  "
                ></div>
              </div>
            </div>
          </div>
        </div>
          
        </div>
      </div>


      <div class="col-12 m-0 p-0 pt-2">
        <div class="row m-0 p-0">
          <div
            class="col-12"
            style="opacity: 0.2; border: 1px solid #000000"
          ></div>
        </div>
      </div>

      <div
        class="col-12 m-0 p-0 pt-4"
        style="width: 100% !important; background-color: white !important"
      >
        <ng-content style="width: 100% !important"></ng-content>
      </div>

      
    </div>
  </div>
</div>
