<app-header>
  <div class="row m-0 p-0" style="padding-bottom: 100px !important">
    <div
      class="col-2 m-0 p-0 size-text-3 p-2"
      style="
        border: 1px solid #e82d56;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      Vuelo + Alojamiento
    </div>
    <div class="col-12 m-0 p-0 pt-4">
      <div class="row m-0 p-0">
        <div class="col-4 m-0 p-0">
          <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 size-text-1">Origen</div>

            <div class="col-12 m-0 p-0">
              <label class="label-input">
                <img src="./assets/images/iconos/vuelos/origen.svg" alt="" />
                <input
                  type="text"
                  placeholder="Origen"
                  aria-label="Number"
                  matInput
                  class="input-sin-borde"
                  [formControl]="myControlOrigen"
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="onOptionSelectedOrigen($event)"
                  [displayWith]="display"
                >
                  <mat-option
                    *ngFor="let option of filteredOptionsOrigen | async"
                    [value]="option"
                  >
                    <mat-icon
                      *ngIf="
                        option.icon &&
                          option.icon !== '' &&
                          option.icon === 'A';
                        else elseTem
                      "
                    >
                      local_airport
                    </mat-icon>

                    <ng-template #elseTem>
                      <mat-icon
                        *ngIf="
                          option.icon &&
                            option.icon !== '' &&
                            option.icon === 'C';
                          else elseTem
                        "
                        >location_city</mat-icon
                      >
                    </ng-template>

                    {{ option.name | titlecase }}
                  </mat-option>
                </mat-autocomplete>
              </label>
            </div>
          </div>
        </div>

        <div class="col-4 m-0 p-0">
          <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 size-text-1">Destino</div>

            <div class="col-12 m-0 p-0">
              <label class="label-input">
                <img src="./assets/images/iconos/vuelos/destino.svg" alt="" />
                <input
                  type="text"
                  placeholder="Destino"
                  aria-label="Number"
                  matInput
                  class="input-sin-borde"
                  [formControl]="myControlDestino"
                  [matAutocomplete]="autoDestino"
                />
                <mat-autocomplete
                  #autoDestino="matAutocomplete"
                  (optionSelected)="onOptionSelectedDestino($event)"
                  [displayWith]="display"
                >
                  <mat-option
                    *ngFor="let option of filteredOptionsDestino | async"
                    [value]="option"
                  >
                    <mat-icon
                      *ngIf="
                        option.icon &&
                          option.icon !== '' &&
                          option.icon === 'A';
                        else elseTem
                      "
                    >
                      local_airport
                    </mat-icon>

                    <ng-template #elseTem>
                      <mat-icon
                        *ngIf="
                          option.icon &&
                            option.icon !== '' &&
                            option.icon === 'C';
                          else elseTem
                        "
                        >location_city</mat-icon
                      >
                    </ng-template>

                    {{ option.name | titlecase }}
                  </mat-option>
                </mat-autocomplete>
              </label>
            </div>
          </div>
        </div>

        <div class="col-4 m-0 p-0">
          <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 size-text-1">Fechas</div>

            <div class="col-12 m-0 p-0">
              <label class="label-input">
                <input
                  placeholder="Salida"
                  class="input-sin-borde"
                  matInput
                  [matDatepicker]="dpBeginDeparture"
                  [min]="minCalendar"
                  autocomplete="off"
                  readonly="true"
                  (dateChange)="onBeginDateChange1($event)"
                  [(ngModel)]="matDateOrigen"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dpBeginDeparture"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #dpBeginDeparture
                  disabled="false"
                ></mat-datepicker>

                <span
                  *ngIf="tipoVuelo == 'RT'"
                  style="
                    width: 10% !important;
                    text-align: center !important;
                    color: #a9a9a9;
                  "
                >
                  |
                </span>

                <input
                  placeholder="Regreso"
                  class="input-sin-borde"
                  matInput
                  [matDatepicker]="dpEndDeparture"
                  [min]="minEndDate"
                  autocomplete="off"
                  readonly="true"
                  (dateChange)="onBeginDateChange2($event)"
                  [(ngModel)]="matDateDestino"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dpEndDeparture"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #dpEndDeparture
                  disabled="false"
                ></mat-datepicker>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 m-0 p-0 pt-4">
      <div class="row m-0 p-0">
        <div class="col-4 m-0 p-0">
          <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 size-text-1">Habitaciones</div>

            <div class="col-12 m-0 p-0" style="height: 40px !important"></div>
          </div>
        </div>

        <div class="col-4 m-0 p-0">
          <button
            (click)="search()"
            class="btn-buscar font-Nunito-Regular size-text-2"
          >
            <img
              class="pr-3"
              src="./assets/images/iconos/vuelos/lupa.svg"
              alt=""
            />
            Buscar
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 m-0 p-0"></div>

    <div class="col-12 m-0 p-0"></div>

    <div class="col-12 m-0 p-0"></div>
  </div>

  <ngx-spinner
    bdColor="rgba(51, 51, 51, 0.8)"
    size="medium"
    color="#fff"
    type="ball-spin-fade-rotating"
    style="width: 100% !important; height: 100% !important"
  ></ngx-spinner>
</app-header>
